body {
  margin: 0;
  color: white;
  background: black;
  font-family: 'Segoe UI', sans-serif;
}

.hero {
  min-height: 100vh;
  padding: 80px;
  background:
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url("background.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
